.container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  min-height: 70vh; /* Ensure the container fills the viewport height */
}

.main {
  flex: 1; /* This allows the main content to take up the remaining space */
}
